In [43]:
import pandas as pd 
import numpy as np

tabela = pd.read_csv("hotel_bookings.csv")
display(tabela)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,NaN,NaN,0,Transient,0.00,0,0,Check-Out,1/07/15
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2/07/15
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,240.0,NaN,0,Transient,98.00,0,1,Check-Out,3/07/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,394.0,NaN,0,Transient,96.14,0,0,Check-Out,6/09/17
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,9.0,NaN,0,Transient,225.43,0,2,Check-Out,7/09/17
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,9.0,NaN,0,Transient,157.71,0,4,Check-Out,7/09/17
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,89.0,NaN,0,Transient,104.40,0,0,Check-Out,7/09/17
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,9.0,NaN,0,Transient,151.20,0,2,Check-Out,7/09/17

In [44]:
# identificando e removendo valores vazios 

display(tabela.info())
tabela = tabela.dropna()
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  agent                           103050 non-null  float64
 23  company                         6797 non-null    float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(11)
memory usage: 28.2+ MB

None

<class 'pandas.core.frame.DataFrame'>
Index: 217 entries, 2392 to 116451
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           217 non-null    object
 1   is_canceled                     217 non-null    int64
 2   lead_time                       217 non-null    int64
 3   arrival_date_year               217 non-null    int64
 4   arrival_date_month              217 non-null    object
 5   arrival_date_week_number        217 non-null    int64
 6   arrival_date_day_of_month       217 non-null    int64
 7   stays_in_weekend_nights         217 non-null    int64
 8   stays_in_week_nights            217 non-null    int64
 9   adults                          217 non-null    int64
 10  children                        217 non-null    float64
 11  babies                          217 non-null    int64
 12  meal                            217 non-null    object
 13  country                         217 non-null    object
 14  market_segment                  217 non-null    object
 15  distribution_channel            217 non-null    object
 16  is_repeated_guest               217 non-null    int64
 17  previous_cancellations          217 non-null    int64
 18  previous_bookings_not_canceled  217 non-null    int64
 19  reserved_room_type              217 non-null    object
 20  assigned_room_type              217 non-null    object
 21  booking_changes                 217 non-null    int64
 22  agent                           217 non-null    float64
 23  company                         217 non-null    float64
 24  days_in_waiting_list            217 non-null    int64
 25  customer_type                   217 non-null    object
 26  adr                             217 non-null    float64
 27  required_car_parking_spaces     217 non-null    int64
 28  total_of_special_requests       217 non-null    int64
 29  reservation_status              217 non-null    object
 30  reservation_status_date         217 non-null    object
dtypes: float64(4), int64(16), object(11)
memory usage: 54.2+ KB

None

# vamos análisar quantos clientes cancelaram

In [27]:
display(tabela["is_canceled"].value_counts())
display(tabela["is_canceled"].value_counts(normalize=True).map("{:.1%}".format))

# 92.2% de não cancelados e 7.8% de cancelados

is_canceled
0    200
1     17
Name: count, dtype: int64

is_canceled
0    92.2%
1     7.8%
Name: proportion, dtype: object

In [28]:
display(tabela["arrival_date_month"].value_counts(normalize=True))
display(tabela["arrival_date_month"].value_counts(normalize=True).map("{:.1%}".format))
# descobri que a maior parte do mes da data de chegada foi em novembro

arrival_date_month
November     0.594470
October      0.082949
May          0.082949
August       0.064516
January      0.050691
December     0.023041
March        0.023041
July         0.023041
September    0.023041
June         0.018433
February     0.009217
April        0.004608
Name: proportion, dtype: float64

arrival_date_month
November     59.4%
October       8.3%
May           8.3%
August        6.5%
January       5.1%
December      2.3%
March         2.3%
July          2.3%
September     2.3%
June          1.8%
February      0.9%
April         0.5%
Name: proportion, dtype: object

In [29]:
display(tabela.groupby("arrival_date_month").mean(numeric_only=True))

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
arrival_date_month,,,,,,,,,,,,,,,,,,,,
April,1.000000,4.000000,2016.000000,15.000000,4.000000,1.000000,2.000000,1.000000,0.000000,0.0,1.000000,0.000000,2.000000,2.000000,139.000000,99.000000,0.0,67.500000,0.000000,0.000000
August,0.071429,2.285714,2015.357143,33.500000,14.571429,1.071429,2.785714,1.857143,0.214286,0.0,0.071429,0.000000,0.142857,0.500000,30.642857,44.142857,0.0,118.035714,0.000000,0.714286
December,0.000000,55.200000,2015.800000,52.000000,22.200000,0.400000,2.000000,1.600000,0.000000,0.0,0.000000,0.000000,0.000000,0.800000,132.800000,246.600000,0.0,57.072000,0.000000,0.400000
February,0.000000,11.500000,2016.500000,7.000000,11.000000,0.500000,2.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.500000,167.000000,258.000000,0.0,64.000000,0.000000,0.000000
January,0.090909,7.272727,2016.636364,2.909091,15.272727,0.545455,1.636364,1.454545,0.090909,0.0,0.090909,0.181818,0.272727,0.272727,176.636364,148.363636,0.0,63.270000,0.181818,0.454545
July,0.000000,96.800000,2016.400000,28.400000,10.000000,1.200000,2.400000,1.800000,0.400000,0.0,0.000000,0.000000,0.000000,0.000000,109.600000,302.600000,0.0,164.030000,0.000000,0.600000
June,0.250000,193.500000,2017.000000,23.750000,11.750000,1.250000,3.750000,2.000000,0.250000,0.0,0.000000,0.000000,0.000000,0.250000,76.250000,337.750000,0.0,109.007500,0.000000,0.000000
March,0.000000,24.200000,2016.800000,10.400000,8.800000,0.200000,1.600000,1.200000,0.000000,0.0,0.400000,0.000000,1.200000,0.800000,251.800000,262.000000,0.0,46.540000,0.000000,0.400000
May,0.055556,10.333333,2016.500000,20.388889,15.055556,0.555556,1.111111,1.222222,0.000000,0.0,0.444444,0.000000,0.444444,0.166667,293.777778,281.555556,0.0,90.222222,0.111111,0.388889
November,0.093023,29.465116,2015.031008,45.527132,7.782946,1.775194,5.852713,1.310078,0.000000,0.0,0.000000,0.000000,0.000000,1.767442,240.418605,286.596899,0.0,44.680465,0.100775,0.015504
October,0.000000,155.833333,2015.611111,43.166667,18.888889,3.222222,6.388889,1.722222,0.055556,0.0,0.111111,0.000000,0.611111,1.111111,97.444444,284.111111,0.0,74.425000,0.166667,0.222222
September,0.000000,41.400000,2015.800000,38.600000,16.800000,1.200000,1.400000,1.600000,0.000000,0.0,0.000000,0.000000,0.000000,1.200000,58.200000,290.400000,0.0,159.520000,0.000000,1.600000

In [45]:
# tirei a coluna abril por que dentre os meses que sepassaram foi o mês que mais ouve numeros de cancelamentos
tabela = tabela[tabela["arrival_date_month"]!="april"]
display(tabela)
display(tabela["is_canceled"].value_counts())
display(tabela["is_canceled"].value_counts(normalize=True).map("{:.1%}".format))

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
2392,Resort Hotel,0,6,2015,October,42,11,2,0,2,...,1,240.0,113.0,0,Transient,82.0,1,1,Check-Out,13/10/15
2697,Resort Hotel,0,24,2015,October,44,26,7,15,1,...,2,185.0,281.0,0,Transient-Party,52.2,0,0,Check-Out,17/11/15
2867,Resort Hotel,0,24,2015,November,45,3,0,3,2,...,1,334.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,6/11/15
2877,Resort Hotel,0,24,2015,November,45,3,2,10,1,...,2,328.0,281.0,0,Transient-Party,40.0,0,0,Check-Out,15/11/15
2878,Resort Hotel,0,24,2015,November,45,3,3,10,2,...,2,326.0,281.0,0,Transient-Party,48.0,0,0,Check-Out,16/11/15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112499,City Hotel,0,13,2017,May,21,24,0,1,2,...,0,9.0,478.0,0,Transient-Party,150.0,0,1,Check-Out,25/05/17
113046,City Hotel,0,13,2017,May,22,29,1,3,1,...,1,290.0,148.0,0,Transient,95.0,0,0,Check-Out,2/06/17
113082,City Hotel,0,13,2017,May,22,29,1,3,2,...,1,290.0,148.0,0,Transient,110.0,0,0,Check-Out,2/06/17
113627,City Hotel,0,210,2017,June,23,9,0,1,2,...,0,14.0,229.0,0,Transient,135.0,0,0,Check-Out,10/06/17
116451,City Hotel,0,191,2017,July,29,16,2,2,2,...,0,9.0,421.0,0,Transient,120.6,0,2,Check-Out,20/07/17

is_canceled
0    200
1     17
Name: count, dtype: int64

is_canceled
0    92.2%
1     7.8%
Name: proportion, dtype: object

In [46]:
# Resort hotel teve mais hospedagens em comparação com o hotel cidade
display(tabela["hotel"].value_counts(normalize=True).map("{:.1%}".format))

hotel
Resort Hotel    78.3%
City Hotel      21.7%
Name: proportion, dtype: object

In [48]:
display(tabela.groupby("hotel").mean(numeric_only=True))

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
hotel,,,,,,,,,,,,,,,,,,,,
City Hotel,0.042553,70.914894,2016.042553,30.765957,16.170213,0.872340,2.021277,1.702128,0.063830,0.0,0.106383,0.000000,0.276596,0.425532,76.489362,200.574468,0.0,106.207447,0.000000,0.574468
Resort Hotel,0.088235,32.117647,2015.305882,40.252941,9.347059,1.758824,5.352941,1.329412,0.029412,0.0,0.058824,0.011765,0.111765,1.523529,237.488235,279.117647,0.0,52.067588,0.117647,0.094118

In [49]:
display(tabela[tabela["previous_cancellations"]])
# Percebemos que houve mais cancelamentos no hotel resort porem houveram mais pessoas se hospedando nele
# Os  cancelamentos anteriores é muito maior no resort hotel
# A alteração de reserva tam bem é muito maior no resort hotel
# Aprevia de reserva não cancelada é menor no resot hotel